header{
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 573px;
}

.more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a{
    text-decoration: none;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */
    
    text-transform: uppercase;
    /* B */
    
    color: #030D15;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}